<a href="https://colab.research.google.com/github/arashk1990/covid19mobility/blob/main/feature_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sklearn
from sklearn.cluster import KMeans
NTS_dummy = pd.read_csv('/content/drive/MyDrive/socio_pred/UKDA-5340-tab/NTS_dummy.csv')

In [2]:
NTS_dummy.head()

,Individual ID,Total Number of Trips,TripID,SurveyYear,TripStart_B01ID_1,TripStart_B01ID_2,TripStart_B01ID_3,TripStart_B01ID_4,TripStart_B01ID_5,TripStart_B01ID_6,...,PSUStatsReg_B01ID_6,PSUStatsReg_B01ID_7,PSUStatsReg_B01ID_8,PSUStatsReg_B01ID_9,PSUStatsReg_B01ID_10,PSUStatsReg_B01ID_11,PSUStatsReg_B01ID_12,PSUStatsReg_B01ID_13,VehAvail_B01ID_1,VehAvail_B01ID_2
0,2019011363,16,2.019149e+09,2019.0,0,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2019011428,18,2.019150e+09,2019.0,0,0,0,0,0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2019011564,23,2.019152e+09,2019.0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,2019011569,15,2.019152e+09,2019.0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,2019011570,13,2.019152e+09,2019.0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0